<wg-tutorials-container [tutorialItems]='tutorialItems'>
    <p> <span class="font-weight-bolder">Decomposition</span> is simply the process of breaking down bigger (or complex)
        problem into smaller more manageable ones.</p>

    <h5 class="heading">Example (A real life problem of Musa who wants to organize a party)</h5>

    <div wgAlert='info'>

        <h5 class="heading">Story time!!!</h5>

        <p>Musa just graduated from secondary school with a good grade and fortunately for him, it happens to be his
            birthday.</p>

        <p>His father was so happy about his performance and decided to organize a party for him.</p>

        <p> He called Musa, congratulated him and gave him the liberty to organize it himself.</p>

        <p>With full excitement and anxiety, Musa ran back to his room, pondered about what he needed and wrote down a
            list of them all.</p>

        <p> Have a look at his list;</p>

        <img class="img-fluid" wgAlert='success' src="../../../../assets/decomposition-list.jpg" />


        <p>To be continued...</p>

    </div>

    <div>
        <h5 class="heading">Now read carefully</h5>

        <p>The moment musa was given the liberty to organize the party himself, what did he do first?</p>

        <p>He brought out his pen and paper, then made a list of what he needed just to ease the process for him. That
            process is called decomposition.</p>

        <p>In summary, when you have a problem and then you ease the problem by breaking it down into smaller ones is
            termed decomposition.</p>
    </div>
</wg-tutorials-container>