<button mat-icon-button disableRipple (click)='toggleSideNavigation()'><i class="fas fa-bars"></i></button>

<!-- Name of website / Link to the homepage -->
<a routerLinkActive='active' class="heading" [routerLinkActiveOptions]='{exact:true}'
    *ngIf='!(isHandset$ | async) || (isTablet$ | async)' role="link" [attr.aria-label]='nameOfWebsite.name'
    [routerLink]='[nameOfWebsite.path]'>
    {{nameOfWebsite.name}}
</a>

<span class="flex-fill"></span>

<!-- Other links -->
<ng-template pwRenderNotOnServer>
    <div *ngIf='!(isHandset$ | async)' class="d-inline-flex">

        <div *ngFor='let mainNavigationItem of mainNavigationItems.items'>

            <div *ngIf='mainNavigationItem.expansionContents' routerLinkActive='active'>

                <button class="dropdown-button dropdown-toggle" data-toggle="dropdown"
                    [id]='mainNavigationItem.expansionHeader' aria-haspopup="true" aria-expanded="false"
                    [attr.aria-label]='mainNavigationItem.expansionHeader'>{{mainNavigationItem.expansionHeader}}
                </button>

                <div class="dropdown-menu w-100" [attr.aria-labelledby]='mainNavigationItem.expansionHeader'>
                    <h5 class="heading mb-4" [attr.aria-label]='mainNavigationItem.expansionHeader'>
                        {{mainNavigationItem.expansionHeader}}
                    </h5>

                    <div class='dropdown-item-container px-2'>
                        <div *ngFor='let mainNavigationContent of mainNavigationItem.expansionContents; let i = index;'>
                            <h6 class="heading text-left">{{mainNavigationContent.innerHeader}}</h6>
                            <a *ngFor='let mainNavigationLink of mainNavigationContent.links' routerLinkActive='active'
                                [attr.aria-label]='mainNavigationLink.name' [routerLink]='mainNavigationLink.path'
                                href="#">{{mainNavigationLink.name}} <i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>

                </div>
            </div>

            <a routerLinkActive='active' *ngIf='!(mainNavigationItem.expansionContents) && (mainNavigationItem.path)'
                [attr.aria-label]='mainNavigationItem.name' [routerLink]='mainNavigationItem.path'
                [id]='mainNavigationItem.name'>{{mainNavigationItem.name}} <i class="fas fa-external-link-alt"></i></a>
        </div>
    </div>

</ng-template>

<!-- Name of website / Link to the homepage -->
<a routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'
    *ngIf='!(!(isHandset$ | async) || (isTablet$ | async))' class="heading" role="link"
    [attr.aria-label]='nameOfWebsite.name' [routerLink]='[nameOfWebsite.path]'>
    {{nameOfWebsite.name}}
</a>

<span class="flex-fill" *ngIf='!(isHandset$ | async) || (isTablet$ | async)'></span>
<span class="flex-fill"></span>

<pw-timer></pw-timer>