@import "../navigation";
@include navigation-link;

button {
    outline: none;
}

.dropdown-menu {
    background-color: $background-color;
    margin-top: -0.6px;
}

.show button.dropdown-toggle::after {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.dropdown-item-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 4fr);
}
