@import "../navigation";
@include navigation-link;

button {
    outline: none;
}

.navigation-content {
    text-align: left;
    padding: 14px 0 14px 22px;
    font-size: 15px;
}

.expansion-panel {
    background-color: transparent;

    .expansion-panel-header {
        padding: 1.7rem 1.2rem;
        &:hover {
            background: $background-color-on-hover;
            color: inherit;
        }
    }
}
