<div class="my-3">
    <img src="../../../assets/logo.jpg" class="img-fluid rounded-lg d-block mx-auto" width="160px" />
</div>

<pw-social-media-navigation></pw-social-media-navigation>

<mat-accordion>
    <div class="mt-2">
        <h5 class="heading" [attr.aria-label]='profileNavigationItems.heading'><u>Profile</u></h5>

        <div class="d-flex flex-wrap justify-content-center">
            <a class="bg-light rounded-pill font-weight-bolder m-1" role="link">SignUp</a>
            <a class="bg-light rounded-pill font-weight-bolder m-1" role="link">Login</a>
        </div>
        
        <!-- <div [class.my-1]='i !== profileNavigationItems.items.length - 1'
            *ngFor='let profileNavigationItem of profileNavigationItems.items; let i = index'>
            <mat-expansion-panel *ngIf='profileNavigationItem.expansionContents' class="expansion-panel mat-elevation-z0">
                <mat-expansion-panel-header class="expansion-panel-header heading text-left">
                    {{profileNavigationItem.expansionHeader}}
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            
        </div> -->
    </div>

    <hr *ngIf='((isHandset$ | async) && mainNavigationItems) || otherNavigationItems' class="bg-dark" />

    <div class="mt-2" *ngIf='(isHandset$ | async) && mainNavigationItems'>
        <h5 class="heading" [attr.aria-label]='mainNavigationItems.heading'><u>{{mainNavigationItems.heading}}</u></h5>

        <div [class.my-1]='i !== mainNavigationItems.items.length - 1'
            *ngFor='let mainNavigationItem of mainNavigationItems.items; let i = index'>

            <mat-expansion-panel routerLinkActive='active' *ngIf='mainNavigationItem.expansionContents'
                class="expansion-panel mat-elevation-z0">

                <mat-expansion-panel-header class="expansion-panel-header heading text-left"
                    [attr.aria-label]='mainNavigationItem.expansionHeader'>
                    {{mainNavigationItem.expansionHeader}}
                </mat-expansion-panel-header>

                <div [class.mt-2]='i === 0' [class.mb-4]='i !== mainNavigationItem.expansionContents.length - 1'
                    *ngFor='let mainNavigationContent of mainNavigationItem.expansionContents; let i = index;'>
                    <h6 class="heading" [attr.aria-label]='mainNavigationContent.innerHeader'>
                        {{mainNavigationContent.innerHeader}}</h6>

                    <a *ngFor='let mainNavigationLink of mainNavigationContent.links' routerLinkActive='active'
                        [attr.aria-label]='mainNavigationLink.name'
                        [routerLink]='mainNavigationLink.path'>{{mainNavigationLink.name}} <i
                            class="ml-1 fas fa-external-link-alt"></i></a>
                </div>
            </mat-expansion-panel>

            <a *ngIf='!(mainNavigationItem.expansionContents) && (mainNavigationItem.path)'
                [attr.aria-label]='mainNavigationItems.heading' class="heading navigation-content"
                routerLinkActive='active' [routerLink]='mainNavigationItem.path'>{{mainNavigationItem.name}} <i
                    class="ml-1 fas fa-external-link-alt"></i></a>
        </div>
        <hr class="bg-dark" *ngIf='otherNavigationItems' />
    </div>

    <div class="mt-4" *ngIf='otherNavigationItems'>
        <h5 class="heading" [attr.aria-label]='otherNavigationItems.heading'><u>{{otherNavigationItems.heading}}</u>
        </h5>
        <div [class.my-1]='i !== otherNavigationItems.items.length - 1'
            *ngFor='let otherNavigationItem of otherNavigationItems.items; let i = index;'>

            <mat-expansion-panel routerLinkActive='active' *ngIf='otherNavigationItem.expansionContents'
                class="expansion-panel mat-elevation-z0">

                <mat-expansion-panel-header class="expansion-panel-header heading text-left"
                    [attr.aria-label]='otherNavigationItem.expansionHeader'>
                    {{otherNavigationItem.expansionHeader}}
                </mat-expansion-panel-header>

                <div [class.mt-2]='i === 0' [class.mb-4]='i !== otherNavigationItem.expansionContents.length - 1'
                    *ngFor='let otherNavigationContent of otherNavigationItem.expansionContents; let i = index;'>
                    <h6 class="heading" [attr.aria-label]='otherNavigationContent.innerHeader'>
                        {{otherNavigationContent?.innerHeader}}</h6>

                    <a *ngFor='let otherNavigationLink of otherNavigationContent.links' routerLinkActive='active'
                        [attr.aria-label]='otherNavigationLink.name'
                        [routerLink]='otherNavigationLink.path'>{{otherNavigationLink.name}} <i
                            class="ml-1 fas fa-external-link-alt"></i></a>
                </div>
            </mat-expansion-panel>

            <a *ngIf='!(otherNavigationItem.expansionContents)' [attr.aria-label]='otherNavigationItem.name'
                class="heading navigation-content" routerLinkActive='active'
                [routerLink]='otherNavigationItem.path'>{{otherNavigationItem.name}}<i
                    class="ml-1 fas fa-external-link-alt"></i></a>
        </div>
    </div>

</mat-accordion>