@import "../navigation";

#top-navigation {
    background-color: $background-color;
}

#side-navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $background-color;
    height: 100%;
    padding-top: 60px;
    overflow-x: hidden;
    z-index: 1;
    transition: width 0.2s ease-in-out;
}

#main-content {
    padding: 3.125rem 1.25rem;
    min-height: 81.8rem;
    max-height: auto;
}


#other-navigations {
    transition: all 0.2s ease-in-out;
}


#bottom-navigation {
    border-radius: 10px;
    background-color: $background-color;
    padding: 3.125rem 1.25rem;
}
