<pw-side-navigation [otherNavigationItems]='otherNavigationItems' id="side-navigation"
    [ngStyle]='sideNavigationOpened ? {width:"250px"} : {width:"0"}' aria-label="Side navigation"></pw-side-navigation>

<div [ngStyle]='mode === "side" ? {marginLeft:"250px"} : {marginLeft:"0"}' id="other-navigations">

    <pw-search-navigation></pw-search-navigation>

    <main id="main-content">
        <ng-content></ng-content>
    </main>

    <footer class="container">
        <pw-bottom-navigation id="bottom-navigation"></pw-bottom-navigation>
    </footer>
</div>