@import "../navigation";

#top-navigation {
    background-color: $background-color;
}

#side-navigation {
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: $background-color;
    height: 100%;
    display: block !important;
    overflow: auto;
    z-index: 1;
    transition: width 0.2s ease-in-out;
}

#main-content {
    min-height: 81.8rem;
    max-height: auto;
}

#other-navigations {
    transition: all 0.2s ease-in-out;
}

#bottom-navigation {
    border-radius: 10px;
    display: block;
    word-wrap: break-word;
    background-color: $background-color;
    padding: 3.125rem 1.25rem;
}
