<mat-toolbar class="bg-dark text-light sticky-top">

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <a class="name-of-website" disableRipple routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'
        [routerLink]="[nameOfWebsite.path]" mat-button>{{nameOfWebsite.name}}</a>

    <span class="content-to-the-right"></span>

    <wg-search class="pt-3" *ngIf='!(isHandset$ | async)'></wg-search>
</mat-toolbar>