<mat-progress-bar *ngIf='isLoading$ | async' color='accent' style="position: fixed; top: 0; z-index: 5000;"
    mode='indeterminate'>
</mat-progress-bar>

<pw-top-navigation id="top-navigation" class="navbar px-1 flex-nowrap sticky-top" role="navigation"
    aria-label="Top navigation">
</pw-top-navigation>

<ng-template pwRenderOnlyOnServer>
    <img src="../assets/loading.gif" class="img-fluid d-block mx-auto" />
</ng-template>

<ng-template pwRenderNotOnServer>
    <router-outlet></router-outlet>
</ng-template>