<wg-tutorials-container [tutorialItems]='tutorialItems'>
    <p> <span class="font-weight-bolder">Pattern Recognition</span> is simply the process of recognizing a successful
        pattern used in solving a similar problem, to solve your own specific problem, out of the smaller more
        manageable ones.</p>

    <h5 class="heading">Example (A real life problem of Musa who wants to organize a party)</h5>

    <div wgAlert='info'>

        <h5 class="heading">Story time!!! (continuation from decomposition)</h5>

        <q><i>But He doesn’t have any of the items yet. Now where does he start from?</i></q>

        <p>Musa sat down for a moment and taught about all the party he had attended previously.</p>

        <p> He said to himself;

            <q><i>Last year, when I attended Sadiqs birthday party, I remembered the sweet delicious cake with the icing
                    on top, OH MY GOD!!!, even the food, CHAI!!!</i></q>.

            As he was talking about it, he began to salivate.</p>

        <p>Musa immediately snapped out of it, brought out his phone and called Sadiq his friend to ask him where he
            normally orders his birthday cake and food from. Sadiq replied with, Mama Julis restaurant.</p>

        <p> The following day, Musa went to Mama Julis restaurant, bought the cake and booked a chef to cook during his
            party.</p>

        <p>
            But wait, upon reaching Mama Julis restaurant, he saw different types of drinks; the one people normally
            drink on a regular basis and the one he had never seen before. Eventually, he bought the one he is
            familiar with and then went back home.
        </p>

        <p>To be continued...</p>

    </div>

    <div>
        <h5 class="heading">Now read carefully</h5>
        <p>Why must Musa order from the exact place sadiq normally orders? Seriously he
            could have tried other restaurants, but he insisted on that particular one.</p>

        <p>The reason was that, He noticed everyone enjoyed it, that was why he ordered the same thing.</p>

        <p>Another thing that you must have noticed about Musa was that, he bought the drink that everyone knows about.
            Why is that so?</p>

        <p>The reason was that, majority of people have tasted it or even heard the name before. Therefore no
            wastage will occur when he buys it.</p>

        <p>The whole process listed above is called pattern recognition.</p>

        <p>In summary, when you notice a particular problem similar to yours that has already been successfully solved
            and then you decide to use the solution. That process is called pattern recognition. </p>
    </div>
</wg-tutorials-container>