<wg-tutorials-container [tutorialItems]='tutorialItems'>
    <p> <span class="font-weight-bolder">Abstraction</span> is simply the process of filtering out and focusing on the
        more important problem first, out of the smaller more manageable ones.</p>

    <h5 class="heading">Example (A real life problem of Musa who wants to organize a party)</h5>

    <div wgAlert='info'>
        <h5 class="heading">Story time!!! (continuation from pattern recognition)</h5>

        <p>Immediately he arrived home, he went straight to his father to show him what he bought.</p>

        <p><b>Musa;</b> here are the items I bought daddy.</p>

        <p><b>His father;</b> can I have the list?</p>

        <p><b>Musa;</b> Yes sir, here you go.</p>

        <p><b>His father;</b> Musa you have done well, what is remaining now?</p>

        <p><b>Musa;</b> Ok daddy, I haven't yet booked a DJ and a party hall.</p>

        <p><b>His father; </b> Then how can the party be possible Musa? Have you invited your friends!!!</p>

        <p><b>Musa;</b> No daddy, not yet.</p>

        <p><b>His father;</b> I guess you are planning to party on the street!!!, Am I right?</p>

        <p><b>Musa;</b> Sorry sir.</p>

        <p><b>His father;</b> Henceforth Musa, in anything you are doing, make sure you do the more relevant things
            first, Ok?</p>

        <p><b>Musa;</b> yes daddy.</p>

        <p><b>His father;</b> Now go and send invitation to your friends. I will take care of the party hall, the
            balloons and the DJ for you. </p>

        <p><b>Musa;</b> Thank you daddy, I am really grateful.</p>

    </div>

    <div>
        <h5 class="heading">Now read carefully</h5>

        <p>Remember Musa bought the cake, the drinks and booked a chef first right? But then he forgot that without a
            party hall, the party cannot be possible.</p>

        <p>What musa could have done was to focus on the more relevant things first like a DJ, a party hall and even the
            decorations. But instead he did the opposite.</p>

        <p>In summary, when you have a list of things to accomplish or solve and then you eventually narrow down the
            list to just solving the important things first. That process is called abstraction.</p>
    </div>
</wg-tutorials-container>