<wg-tutorials-container [tutorialItems]='tutorialItems'>
    <p> <span class="font-weight-bolder">Algorithm (or Algorithmic thinking)</span> is simply the process of
        writing (or sketching) down set of instructions to be followed when solving the smaller more manageable
        problems.</p>

    <h5 class="heading">Example (A real life problem of Musa who wants to organize a party)</h5>

    <div wgAlert='info'>

        <h5 class="heading">Story time!!! (continuation from abstraction)</h5>

        <p>His father immediately brought out his phone and called his friend.</p>

        <p>His friend told him not to worry, that in the next 5 hours everything will be ready and he will call him.
        </p>

        <p>On the other hand, Musa went back to his room to send an invitation to all his friends.</p>

        <p>5 hours later, Musa’s father received a phone call from his friend. </p>

        <p>Musa and his father drove to the party hall to decorate and arrange the items.</p>

        <p>As they arrived the hall, they were fully satisfied with it.</p>

        <p>Now the next thing to do is to arrange the items right? Musa’s father asked. Yes daddy, he replied. </p>

        <p>Musa as usual brought out his pen and paper to sketch down the instructions needed to successfully arrange
            the hall.</p>

        <p>Have a look at what he sketched.</p>

        <img class="img-fluid" wgAlert='success' src="../../../../assets/algorithm.jpg" />

        <h5 class="heading">the end &#9997;</h5>

    </div>

    <div>
        <h5 class="heading">Now read carefully</h5>

        (Explain Algorithm here and the Story above)

    </div>
</wg-tutorials-container>