.alert{
    border-radius: 20px;
    margin: 20px 0;
}
.alert-danger{
    border-left: solid 6px red;
}

.alert-warning{
    border-left: solid 6px darkgoldenrod;
}

.alert-success{
    border-left: solid 6px green;
}

.alert-info{
    border-left: solid 6px blue;
}

.alert-primary{
    border-left: solid 6px blue;
}
