<wg-nav-container>
    <div main-content>
        <img src="../../../assets/page-not-found.jpg" class="mx-auto d-block img-fluid rounded-circle" />
        <div class="alert alert-danger">
            <h3 class="heading">Page Not Found</h3>
            <b>Possible solutions</b>
            <ul>
                <li>Check your url and correct the spelling.</li>
                <li>Use the side navigation to navigate to wherever you want.</li>
                <li>Click on the ProgrammersWorld text on the top navigation to navigate to the home page.</li>
            </ul>
        </div>
    </div>
</wg-nav-container>