<wg-nav-container>
    <div main-content>
        <h1 class="heading">Dashboard</h1>

        <div *ngFor='let dashboardItem of dashboardItems' class='card mat-elevation-z6 mb-4'>
            <h4 class="heading card-header">{{dashboardItem.name}}</h4>

            <div *ngIf='(dashboardItem.pageEvent === false)'>
                <div class="card-body">
                    <div wgAlert='info' class="mat-elevation-z10 font-weight-bolder">
                        <h5 class="heading">{{dashboardItem.items[0].name}}</h5>
                        <p *ngFor='let overview of dashboardItem.items[0].overviews'>{{overview}}</p>
                        <button [routerLink]='dashboardItem.items[0].link'
                            class="bg-primary d-block mx-auto text-white heading" mat-button>Get Started</button>
                    </div>
                </div>
            </div>

            <div *ngIf='dashboardItem?.pageEvent'>
                {{dashboardItem?.pageEvent.pageIndex}}

                <div class="card-body">
                    <div wgAlert='info' class="mat-elevation-z10 font-weight-bolder">
                        <h5 class="heading">{{dashboardItem.items[dashboardItem.pageEvent.pageIndex].name}}</h5>
                        <p *ngFor='let overview of dashboardItem.items[dashboardItem.pageEvent.pageIndex].overviews'>
                            {{overview}}</p>
                        <button [routerLink]='dashboardItem.items[dashboardItem.pageEvent.pageIndex].link'
                            class="bg-primary d-block mx-auto text-white heading" mat-button>Get Started</button>
                    </div>
                </div>
            </div>

            <mat-paginator pageSize='1' [pageIndex]='dashboardItem.pageEvent.pageIndex'
                (page)='dashboardItem.pageEvent = $event' hidePageSize [length]='dashboardItem.items.length'>
            </mat-paginator>
        </div>
    </div>

</wg-nav-container>