.sidenav-container {
  height: 100%;  
}

.top-nav-link{
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}

button{
  outline: none;
  font-size: 20px;
}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}