@import "../navigation/navigation";
.button-navigator {
    text-transform: capitalize;
    font-variant: small-caps;
}

.links {
    text-transform: capitalize;
}

.expansion-panel-content {
    font-size: initial;
    margin: initial;
    padding: initial;
}

.expansion-panel-header {
    background: transparent;
    color: inherit;

    &:hover {
        background: transparent !important;
    }
}
