@import "../../../navigation/navigation";

.icons-container {
    border-radius: 100px;
}

.icons {
    color: black;
    display: inline-block;
    background-color: inherit;
    border: none;
    border-radius: 20px;
    padding: 0.375rem 0.875rem;
    text-decoration: none;
    font-size: $font-size;

    &:hover:not(.active) {
        background: $background-color-on-hover;
        color: initial;
    }

    &:active:not(.active) {
        background: $background-color-on-click;
        outline: none;
        color: initial;
    }
}
