<wg-tutorials-container [tutorialItems]='tutorialItems'>
    <p>When hearing the word computational thinking, the first thing that comes up to your mind is that, it is thinking
        like a computer. Infact some might say it is all about programming. Some might even say, it
        is all about how the computer thinks. But the truth is that a computer does not think, it only does what you
        instruct it to do.</p>
    <p>Before we dive into what computational thinking is, let's clear some misconceptions first.</p>

    <div wgAlert='danger'>
        <h5 class="heading">computational thinking is not</h5>
        <ul>
            <li>Thinking like a computer.</li>
            <li>How the computer thinks.</li>
            <li>Programming.</li>
        </ul>
    </div>

    <div>
        <h5 class="heading">Now read carefully</h5>
        <p>Computational thinking is simply the process of following
            the 4 stages (or procedures), to develop a solution for a real life (or complex) problem, in a way
            that a computer, human or both can understand.</p>
    </div>

    <p>The process in which you have a complex problem, understand it and then develop a solution for it
        by following the 4 stages (or procedures), is termed computational thinking.</p>
    <p>To summarize it all, computational thinking is just all about solving problems by following the 4 stages (or
        procedures) involved.</p>

    <div wgAlert='info'>
        <h5 class="heading">The keywords here to remember are</h5>
        <ol>
            <li>Developing a solution for a problem,</li>
            <li>by following the 4 stages (or procedures),</li>
            <li>in a way that a computer, human or both can understand.
            </li>
        </ol>
    </div>

    <h5 class="heading">The 4 stages (or procedures) to follow when talking about computational thinking are</h5>

    <ol>
        <li>
            <span class="font-weight-bolder">Decomposition;</span> is simply the process of breaking down bigger (or
            complex)
            problem into smaller more manageable ones.
        </li>
        <li>
            <span class="font-weight-bolder">Pattern Recognition;</span> is simply the process of recognizing a
            successful
            pattern used in solving a similar problem, to solve your own specific problem, out of the smaller more
            manageable ones.
        </li>
        <li>
            <span class="font-weight-bolder">Abstraction;</span> is simply the process of filtering out and focusing on
            the
            more important problem first, out of the smaller more manageable ones.
        </li>
        <li>
            <span class="font-weight-bolder">Algorithm (or Algorithmic thinking);</span> is simply the process of
            writing (or
            sketching) down set of instructions to be followed when solving the smaller more manageable problems.
        </li>
    </ol>

    <P>As you can see, the 4 stages of computational thinking are like the 4 legs of a table, if one leg is missing, it
        becomes incomplete.</P>

    <p>
        As we dive deeper into the 4 stages, we will be using one example to explain each of them in a story like
        format.
    </p>

    <ol>
        <li>
            <span class="font-weight-bolder">A real life problem of Musa who wants to organize a party.</span> This is
            to show that computational thinking is not all about computers. It can also be applied in a real life
            scenario.
        </li>
    </ol>

    <p>How can it be achieved, let's find out.</p>
</wg-tutorials-container>